.nav-link.active {
    background-color: #dc3545 !important; /* color danger */
    color: white !important; /* para asegurar que el texto sea legible */
}
.nav-link:hover{
  background-color: #881e29 !important; /* color danger */
  cursor: pointer;

}
.disabled:hover{
    cursor: not-allowed;
}
.tarjetaResultado{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 219, 219);
  border-radius: 25px;   
  padding: 6px;
  width: 75%;
  margin: 10px;
}
.tarjetaNoticia{
  padding: 2px;
  margin: 2px;
}